html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}
header {
    
    background-color: #4A001F;
    color: #DBE2E6;
    text-align: center;
}

section{

    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
   
    
   
}

p {
    text-align: left;
}

a:link {
    color: #D4E4BC;
    text-decoration: none;
  }
  

  a:visited {
    color: #D4E4BC;
    text-decoration: none;
  }
  
  
  a:hover {
    color: #96ACB7;
    text-decoration: none;
  }
  
 
  a:active {
    color: #638292;
    text-decoration: none;
  }

#profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border: #DBE2E6 double 8px;
}
li {
    list-style-type: none;
    padding: 10px;
}
p {
    padding-top: 8px;
    padding-left: 15px;
    padding-left: 15px;
    text-align: left;
}
h2{
        padding-top: 8px;
        padding-left: 15px;
        padding-left: 15px;
        text-align: left;
}
ul {
    display: flex;
    justify-content: flex-end;
}

body {
    margin: 0;
}

/* Your CSS Code Here! */
