body {
   background-color: #F0F4EF; 
}
header {
    background-color: #b4cded;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav{
    text-align: center;
    background-color: black;
}

nav:link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #344966;
    color: white;
}